body {
    background-image: url("IMG/imagen\ del\ 2\ html\ página\ 2.jpg");
}


ol em {
    color: chartreuse;
}

h1+p {
    color: tomato;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2~p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkorange;
}

h3 {
    font-size: 40px;
    color: aqua;
    text-align: left;
}

img {
    width: 285px;
}

hr {
    margin: -17px;
}

p {
    color: coral;
    text-align: center;
}

.parrafo,
.pagina {
    color: black;
}

.siguiente {
    color: white;
}

h4 {
    font-size: 40px;
}

ul ol:first-child {
    color: gold;
}

ul ol:last-child {
    color: cyan;
}

tr:nth-child(odd) {
    background-color: gold;
}

tr:nth-child(even) {
    background-color: ghostwhite;
}



table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

td:empty {
    border: 1px solid #000;
    text-align: center;
    padding: 0.9rem;
    margin: 1px;
}

.clase {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fechas {
    text-align: left;
}

#fecha1 li:only-child {
    color: gold;
}

#fecha2 li:only-child {
    color: aqua
}

#fecha3 li:only-child {
    color: black;
}

#fecha4 li:only-child {
    color: blanchedalmond;
}

#fecha5 li:only-child {
    color: chartreuse;
}

h2 {
    text-align: left;
}


h1 {
    color:darkblue;
    text-align: center;
}

.paisaje {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    height: 200%;
    color:#000;
    justify-content: left;
    align-items: center;
}

img {
    margin: 5%;
    padding: 0%;
    float: left;
    width: 40%;
    flex-wrap: nowrap;
    align-content: center;
}

@media (min-width:576%) {
    .paisaje {
        max-width: 540%;
        color: gold;
        flex-direction: column;
    }
}

div p{
    background-color: gray;
}

.link-position{
    position: absolute;
    top: 190%;
}
#padding-div{
    padding-left: 50%;
}

#Position-Apertura{
    padding-left: 45%;
    padding-right: 45%;
}

p{
    text-decoration: none;
}